CMakeCache.txt
install_manifest.txt
cmake_install.cmake
/CMakeFiles
/Makefile
/bin/CMakeFiles
/bin/Makefile
/cpp/CMakeFiles
/cpp/Makefile
*.pyc
*.log
*.out
*.res
tmp.cpp
test/
ea_iid
ea_non_iid
ea_conditioning
ea_restart
ea_transpose
.vscode
*.json
.DS_Store
*.res
