# Ref: https://www.gitignore.io https://github.com/github/gitignore

# ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~
.DS_Store
.idea
.eclipse
.vscode

# ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~
**/*.log

# ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~
.helper-files/.vagrant
